.ph-s {
    padding: 0 15px;
}
.mh-s {
    margin: 0 5px;
}
.pv-l {
    padding: 20px 0;
}
.pv-s {
    padding: 10px 0;
}
.pa-l {
    padding: 20px;
}
.background {
    background-image: url("../img/bg.jpg");
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
}
.grey-icon {
    color: #9daeb9;
}
.white-icon {
    color: #ffffff;
}
.notification {
    display: inline-block;
}
.notif-count {
    display: inline-block;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 20px;
    left: 37px;
    border: 1px solid #fff;
    background-color: #15B5B6;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    font-weight: bold;
    color: white;
}
.main-header {
    overflow: auto;
    background-color: #fefefe;
}
.main-header .user-info {
    border-left: 1px solid #ecf1f2;
    position: relative;
}
.main-header .text-search {
    left: 30px;
    top: 0;
}
.main-header input {
    padding-left: 30px;
    border-radius: 18px;
    background-color: #dee6ea;
    border:none;
}
.main-header .user-desc {
    display: inline-block;
    position: relative;
    background-color: #93abb8;
}
.bell-icon {
    font-size: 36px;
}
.mail-icon {
    font-size: 36px;
}
.glyphicon, .notif-count {
    cursor: pointer;
    vertical-align: middle;
}
.glyphicon.gi-l {
    font-size: 36px;
}
.glyphicon.gi-s {
    font-size: 10px;
}
.glyphicon.dropdown {
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 15px;
}
.user-img {
    height:35px;
    width: 35px;
    border-radius: 35px;
}
.notif-container {
    box-shadow: 5px 5px 19px #888888;
    right: 326px;
    top: 80px;
    position: absolute;
    height: 600px;
    width: 350px;
    background-color: lightgrey;
    overflow: scroll;
}
.notif-container:before {
    content:"\A";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid lightgrey;
    position: absolute;
    left: 60px;
    top: -15px;
}